#gallery{
    @include lg{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". gallery .";
    }

    ul{
        
        @include md{
            grid-area: gallery;
            display: grid;
            grid-template-columns: 50% auto;
        }
        @include lg{
            grid-template-columns: 60% auto;
        }
      
    }
}