/* =============
    Heroes
============= */
#hero {
    #hero-top {
        aside{
            padding-left: 16px;
            padding-top: 16px;
            
                display: flex;
                justify-content: "flex-end";
               
            
        }

            
        
        @include md {
            display: grid;
            grid-template-columns: 40% auto;
        }

        #hero-left {
            background-color: rgb(48, 48, 48);
            @include xl {
                grid-template-columns: 30% auto 16px;
                background-color: var(--olive);
            }
        }

        #hero-right {
            background-color: gray;

            @include xl {
                grid-template-columns: 16px auto 20%;
                background-color: var(--yellow);
            }
        }

        @include lg {
            display: grid;
            grid-template-columns: 50% auto;

            #hero-left {
                background-color: rgb(48, 48, 48);
            }

            #hero-right {
                background-color: gray;
            }
        }
    }

        #hero-bottom {
           aside{
display: flex;
justify-content: flex-end;
           }

        
           
            @include md {
                display: grid;
                grid-template-columns: 16px auto 16px;
                grid-template-areas: ". hero-bottom .";
                padding-left: 16px;
                padding-top: 16px;
            }

            @include lg {
                grid-template-columns: auto 1200px auto;
            }

            >div {
                @include md {
                    grid-area: hero-bottom;
                    display: grid;
                    grid-template-columns: 50% auto;
                    
                }

                #member{
                    background-color: pink;
                    border: 3px solid var(--black);
                }
                #download{
                    background-color: lightseagreen;
                    border: 3px solid var(--black);
                }
            }
        }
    
}




// #hero{
//     display: grid;
//     grid-template-columns: 16px auto 16px;
//     grid-template-areas: ". hero .";

//     ul{
//         margin: 0;
//         padding: 0;
//         display: grid;
//         gap: 16px;


//         @include md{
//             grid-template-columns: repeat(2, 1fr);
//             grid-template-areas: 
//             "h1 h2";
//         }
//         li{
//             list-style: none;
//             background-color: gray;
//             padding-top: 20px;
//             padding-bottom: 20px;
//             text-align: left;
//         }
//         #h1 {
//             @include xl{
//                 grid-area: h1;
//         }
//     }
//         #h2 {
//             @include xl{
//                 grid-area: h2;
//         }
//     }
//     >div{
//         grid-area: hero;
//     }
// }
// }