/* =============
    Heroes
============= */
#hero{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". hero .";

    >div{
        grid-area: hero;
    }
}

/* ------ Hero 2 ------*/

#hero-2{

}