/* =============
    Heroes
============= */
#hero {
    #hero-top {
        img{
            line-height: 0;
            display: block;
        }

        aside{
            padding-left: 16px;
            padding-top: 16px;
            
                display: flex;
                justify-content: "flex-end";
            color: white;
            h1{
                font-size: rem-calc(18);
                padding-right: 16px;
                @include lg{
                    font-size: rem-calc(25);
                }
                @include xl{
                    font-size: rem-calc(25);
                }
            }
            p{
                font-size: rem-calc(18);
                padding-right: 16px;
            }
            h3{
                font-size: rem-calc(18);
                padding-right: 16px;
                p{
                    line-height: 120%;
                    
                }
                
            }
        }
        
        @include md {
            display: grid;
            grid-template-columns: 40% auto;
        }

        #hero-left {
            background-color: var(--dark-grey);
            @include xl {
                grid-template-columns: 30% auto 16px;
               
            }
        }

        #hero-right {
            background-color: var(--light-grey);

            @include xl {
                grid-template-columns: 16px auto 20%;
              
            }
        }

        @include lg {
            display: grid;
            grid-template-columns: 50% auto;

            #hero-left {
                background-color: var(--dark-grey);
            }

            #hero-right {
                background-color: var(--light-grey);
            }
        }
    }

#hero-bottom {
    h1{
        font-weight: 400;
        padding: 20px;
        font-size: rem-calc(22);
    }
    aside{
        
display: flex;
justify-content: flex-end;
           }
           div{
            section{
                a:link, a:visited{
                    padding: 10px 12px;
                    margin-left: 22px;
                    color: var(--white);
                    background-color: var(--dark-grey);
                    transition: 0.25s;
    
                    &:hover, &:active{
                        color: var(--dark-grey);
                        background-color: var(--white);

                    }
                }
                aside{
                        display: flex;
                        justify-content: first baseline;

                }
            }
           
            }
        
           
            @include md {
                display: grid;
                grid-template-columns: 16px auto 16px;
                grid-template-areas: ". hero-bottom .";
                padding-left: 32px;
                padding-top: 16px;
                h1{
                    font-size: 29px;
                }
            }

            @include lg {
                grid-template-columns: auto 1200px auto;
                padding-left: 32px;
                h1{
                    font-size: 31px;
                }
            }

            >div {
                @include md {
                    grid-area: hero-bottom;
                    display: grid;
                    grid-template-columns: 50% auto;
                    
                }

                #member{
                    background-color: pink;
                    border: 3px solid var(--black);
                    margin-bottom: 16px;
                }
                #download{
                    background-color: lightseagreen;
                    border: 3px solid var(--black);
                    margin-bottom: 16px;
                }
            }
        }
    
}




// #hero{
//     display: grid;
//     grid-template-columns: 16px auto 16px;
//     grid-template-areas: ". hero .";

//     ul{
//         margin: 0;
//         padding: 0;
//         display: grid;
//         gap: 16px;


//         @include md{
//             grid-template-columns: repeat(2, 1fr);
//             grid-template-areas: 
//             "h1 h2";
//         }
//         li{
//             list-style: none;
//             background-color: gray;
//             padding-top: 20px;
//             padding-bottom: 20px;
//             text-align: left;
//         }
//         #h1 {
//             @include xl{
//                 grid-area: h1;
//         }
//     }
//         #h2 {
//             @include xl{
//                 grid-area: h2;
//         }
//     }
//     >div{
//         grid-area: hero;
//     }
// }
// }