/* =============
    New
============= */
#new{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". new .";

    >div{
        grid-area: new;

        ul{
            margin: 0;
            padding: 0;
            display: grid;
            gap: 16px;

            @include md{
                grid-template-columns: repeat(4, 1fr);
                grid-template-areas: 
                "p1 p1 p2 p2"
                "p3 p3 p4 p4"
                ". p5 p5 .";

            }
            @include lg {
                grid-template-columns: repeat(6, 1fr);
                grid-template-areas: 
                "p1 p1 p2 p2 p3 p3"
                ". p4 p4 p5 p5 .";
            }
            li{
                list-style: none;
                background-color: darkcyan;
                padding-top: 20px;
                padding-bottom: 20px;
                text-align: left;

            }
            #p1 {
                @include lg{
                    grid-area: p1;
            }
        }
            #p2 {
                @include lg{
                    grid-area: p2;
            }
            }
            #p3 {
                @include lg{
                    grid-area: p3;
            }
            }
            #p4 {
                @include lg{
                    grid-area: p4;
            }
            }
            #p5 {
                @include lg{
                    grid-area: p5;
            }
            }
            #p6 {
                @include lg{
                    grid-area: p6;
            }
            }
        }
    }
}
