/* =============
    Search
============= */
#search{
    display: flex;
    justify-content: center;

    form{
        display: flex;
        input{
            width: 100%;
        }
        button{
            font-size: rem-calc(30);
        }
    
}
}