/* =============
    Search
============= */
#search{
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-areas: ". search .";

    @include md{
        display: grid;
        grid-template-columns: 30% auto;
    }
    @include xl{
        display: grid;
        grid-template-columns: 40% auto;
    }

    >div{
        grid-area: search;
    }
}