/* =============
    Footer
============= */
footer{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". footer .";
    ul{
        margin: 0;
        padding: 0;
        display: grid;
        gap: 16px;

        @include md{
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas: 
            "p1 s2 s3 s4";
        }
        li{
            list-style: none;
    }
}
    >div{
        grid-area: footer;
    }
}